<a href="#" onclick="to('/list/{{id}}/view')">add view</a>

<script>
var listid = '{{id}}';
</script>
<table>
	<tr>
		<td>title</td><td>{{name}}</td>
	</tr>
	<tr>
	<td>
		{{#list views}}
			<ul>
			<li><a href="#" onclick="to('/list/'+listid+'/view/{{{id}}}')">{{{title}}}</a></li>
			</ul>
		{{/list}}
	</td>
	</tr>
</table>