<p color="red">{{err}}</p>

<ul>
<form id="start_form" action="/server/startup" method="post">
	<label>启动服务：</label>
	<input type="text" name="port" />
	<input type="text" name="num"/>
	<input type="button" onclick="subform('start_form')" value="startup">
</form>
</ul>
<ul>
<div class="panel panel-default">
<table class="table">
	<tr>
		<td>app name</td><td>pwd</td><td>status</td>
		{{#if result}}
		{{#list result}}
		<tr>
		<td>{{name}}</td>
		<td>{{pwd}}</td>
		<td>{{status}}</td>
		<td><a href='#' onclick="to('/server/start/{{name}}')">reload</a></td>
		<td><a href='#' onclick="to('/server/reload/{{name}}')">reload</a></td>
		<td><a href='#' onclick="to('/server/stop/{{name}}')">stop</a></td>
		</tr>
		{{/list}}
		{{/if}}
	</tr>
</table>
</div>
</ul>
